h1{
    text-align: center;
}

p{
    margin: 8px 0;
}

/* TARJETA */

#tarjeta{
    border: 2px solid black;
    border-radius: 5px;

    height: 200px;
    width: 400px;

    margin: auto;
    margin-bottom: 5px;    

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contenedorDatosTarjeta{

    display: flex;
    flex-direction: column;

    height: 100px;

}

#tarjeta .contenedorDatosTarjeta div{
    display: flex;

    margin-left: 20px;
}

#tarjeta .fechas{
    justify-content: space-between;
    width: 60%;
}

#tarjeta .identificacion .nombre{
    margin-left: 15px;
    
}

/* FIN TARJETA */

/* INPUTS USUARIO */

#inputsUsuario{
    border: 2px solid black;
    border-radius: 5px;

    margin: auto;

    height: 200px;
    width: 400px;

    display: flex;
    flex-direction: column; 
}

#inputsUsuario div{
    display: flex;
    flex-direction: column;

    margin: 0 20px;
    
}
/* FIN INPUTS USUARIO */